# --------------------------
# Основные настройки Django
# --------------------------
SECRET_KEY='Ваш_очень_длинный_и_сложный_секретный_ключ'
DEBUG=True
ALLOWED_HOSTS='127.0.0.1,localhost' # Разрешенные хосты через запятую
# --------------------------
# Настройки Базы Данных (PostgreSQL)
# --------------------------
DB_ENGINE='django.db.backends.postgresql'
DB_NAME='название_вашей_базы_данных'
DB_USER='пользователь_базы_данных'
DB_PASSWORD='пароль_пользователя_базы_данных'
DB_HOST='localhost'
DB_PORT='5432'
# --------------------------
# Настройки приложения
# --------------------------
ORGANIZATION_NAME="название_вашей_организации"