<div class="container my-4 p-3 border rounded shadow-sm">
    <form class="row g-3 align-items-end" action="" method="GET">

        <div class="col-md-4 col-lg-4"> <label for="search_input" class="form-label visually-hidden">Поиск по названию</label>
            <input class="form-control" type="text" id="search_input" name="search" value="{{ search }}" placeholder="Введите название документа...">
        </div>

        <div class="col-md-3 col-lg-3"> <label for="num_input" class="form-label visually-hidden">Поиск по номеру</label>
            <input class="form-control" type="text" id="num_input" name="filter_doc_num" value="{{ filter_doc_num }}" placeholder="Точный номер документа...">
        </div>

        <div class="col-md-2 col-lg-2"> <label for="filter_year" class="form-label">Выбрать год:</label>
            <select class="form-select" id="filter_year" name="filter_year">
                <option value="">--- Все ---</option>
                {% for year in years %}
                    <option value="{{ year.0 }}" {% if year.0 == selected_year %}selected{% endif %}>{{ year.0 }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-3 col-lg-3"> <div class="d-flex w-100">
                <button type="submit" class="btn btn-primary flex-grow-1">Найти</button>

                {% if request.GET.filter_year or request.GET.filter_doc_num or request.GET.search %}
                    <a href="{% url 'orders:index' %}" class="btn btn-outline-secondary ms-2">Сброс</a>
                {% endif %}
                </div>
        </div>
    </form>
</div>