<div class="button_container">
    {% if user.is_authenticated %}
    <a class="pp_button" href="{% url 'orders:export_to_excel' %}">Экспорт в Excel</a>

    <button type="button" class="pp_button" data-bs-toggle="modal" data-bs-target="#addOrderModal">
        Добавить
    </button>

    <button type="button" class="pp_button" onclick="document.getElementById('logout-form').submit();">Выход</button>
        <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display:none;">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
        </form>
    {% else %}
    <button type="button" class="pp_button" data-bs-toggle="modal" data-bs-target="#loginModal">
        Войти
    </button>
    {% endif %}
</div>