<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'orders/css-bs/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'orders/css/style.css' %}">
</head>
<body>
    <div id="main_container" class="container">
        {% block page_header %}
        {% endblock %}
        {% block main_menu %}
        {% endblock %}
        <main class="container mt-4">
            {% block content %}
            {% endblock %}
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'orders/js-bs/bootstrap.bundle.min.js' %}"></script>
    {% block extra_js %}
    {% endblock %}
</body>
{% block script %}
{% endblock %}
</html>