{% extends 'orders/base.html' %}

{% block title %}
<title>
    {{ page_title|title }}
</title>
{% endblock %}

{% block page_header %}
    <h1>Регистрация приказов <br>ФГКОУ «Объединенный Санкт-Петербургский кадетский корпус <br>Следственного комитета Российской Федерации»</h1>
{% endblock %}

{% block content %}
    <hr>
    {% include 'orders/includes/inc__filter.html' %}
    <table>
        <thead>
            <tr>
                <th>Номер документа</th>
                <th>Дата издания</th>
                <th>Название документа</th>
                <th>Кем подписан документ</th>
                <th>Ответственный исполнитель</th>
                <th>Кому передан (ответственный за исполнение приказа)</th>
                <th>Кому передано на хранение</th>
                <th>Номер гербового бланка</th>
                <th>Примечание</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.document_number }}</td>
                <td>{{ order.issue_date }}</td>
                <td>{{ order.document_title }}</td>
                <td>{{ order.signed_by }}</td>
                <td>{{ order.responsible_executor }}</td>
                <td>{{ order.transferred_to_execution }}</td>
                <td>{{ order.transferred_for_storage }}</td>
                <td>{{ order.heraldic_blank_number }}</td>
                <td>{{ order.note }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}